.PokeList__title {
    margin: 10px -30px;
    text-align: 'center';
    font-family: 'Joti One', cursive;
	color: #FFCB04;
	text-shadow:
		3px 3px 0 #39569E,
		-1px -1px 0 #39569E,
		1px -1px 0 #39569E,
		-1px 4px 0 #39569E,
		1px 1px 0 #39569E;
    font-size: 50px;
    text-align: center;
}

.PokeList__link {
    color: #0075BE;
    text-decoration: none;
}
.PokeList__link:hover .PokeItem__avatar_animated {
    opacity: 1;
    display: block;
}
.PokeList__link:hover .PokeItem__avatar_static {
    opacity: 0;
}

.PokeItem__avatarWrapper {
    position: relative;
}

.PokeItem__avatar {
    background-size: contain;
    transition: opacity .3s ease-in-out;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.PokeItem__text {
    margin-left: 20px;
}
.PokeItem__text::first-letter {
    text-transform: uppercase;
}

.PokeItem__avatar_animated {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

.PokeCard__img {
    margin-top: 20px;
    width: 450px;
    border-radius: 20px;
}

.PokeCard__name {
    margin-bottom: 10px;
    font-size: 30px;
}
.PokeCard__name::first-letter {
    text-transform: uppercase;
}
